/* jumbotron */
/* .jumbotron{
	background-image: url(img/slide3.jpg);
	background-size: cover;
	height: 700px;
	text-align: center;
	margin-top: -120px;
}
.jumbotron .display-4 {
	color: white;
	margin-top: 210px;
}
.jumbotron p {
	color: white;
}
.jumbotron hr {
	border-color: aquamarine;
	width: 70px;
	border-width: 3px;
}
.jumbotron .btn {
	background-color: aquamarine;
	border: none;
	border-radius: 15px;
	padding-right: 15px;
	padding-left: 15px;
 */
/* akhir jumbotron */
body {
	background-color: #cbcbcb;
	font-family: arial;
	padding: 0;
	margin: 0;
}

/* corousel */
.carousel-item {
	height: 630px;
}
.carousel-item img {
	margin-top: -10px;
}
.carousel-item .display-4 {
	margin-top: -430px;
}
.carousel-item hr {
	border-color: aquamarine;
	width: 70px;
	border-width: 3px;
}
.carousel-item .btn {
	background-color: aquamarine;
	border: none;
	border-radius: 15px;
	padding-right: 15px;
	padding-left: 15px;
}
/* akhir corousel */

/* content */
#wrapper {
	width: 1000px;
	padding: 20px;
	background-color: #cbcbcb;
	min-height: 300px;
	border-radius: 5px;
	margin: 40px auto;
}
.berita {
	width: 500px;
	min-height: 200px;
	background-color: #DCDCDC;
	float: left;
	padding: 10px;
	border-radius: 5px;
}
.berita img {
	width: 100%;
	height: auto;
}
.berita h3 {
	border-bottom: solid thin;
}
.berita p {
	text-align: justify;
	font-size: 15px;
}
.alamat {
	width: 500px;
	min-height: 200px;
	background-color: #DCDCDC;
	float: right;
	padding: 10px;
	border-radius: 5px;
}
.alamat iframe {
	width: 100%;
	max-height: 350px;
}
.alamat h3 {
	border-bottom: solid thin;
}
.alamat p {
	text-align: justify;
}
/* footer */
.clearfix {
	clear: both;
	display: block;
}
footer {
	text-align: center;
	background-color: #696969;
	padding: 10px 20px;
	border-top: solid thin;

}