.logo{
	width: 320px;
	min-height: 200px;
	padding: 10px;
	background-color: #f5f5f5;
	border: solid 2px #eee;
	border-radius: 5px;
	float: left;
}
.logo img {
	width: 100%;
	border: solid 2px #eee;
	height: auto;
}
.logo iframe {
	width: 100%;
	max-height: 300px;
}
.profile {
	width: 780px;
	min-height: 400px;
	border: solid 2px #eee;
	background-color: #f5f5f5;
	border-radius: 5px;
	padding: 10px;
	float: right;
}
.profile h2 {
	border-bottom: solid thin;
	margin-top: 0;
	font-size: 28px;
}
.profile p {
	text-align: justify;
	color: #666;
}
.profile img {
	padding: 5px;
	border: solid 2px aquamarine;
	width: 60%;
	height: auto;
}
